/*box-model rules*/ 
@media only screen and (max-width: 360px) {
	body {
		width: 340px;
		margin: 0 auto;
	}

	#main-body {
		width: 100%;
		margin: 5px 0px 5px 0; 
	}
}

@media only screen and (min-width: 361px) {
	body {
		width: 1200px;
		margin: 0 auto;
	}

	aside {
		width: 19%;
		float:right;
		margin: 0px;
	}

	#side-nav {
		width: 19%;
		float:right;
		margin: 0px 0 5px 5px;
	}

	#main-body {
		width: 80%;
		margin: 5px 5px 5px 0; 
	}

}

header {
	margin: 5px 0;		
}

#bcit-banner {
	margin: 5px 10px;
}

#top-nav {

}



#search-box {
	margin-bottom: 5px;
}

#content-wrapper {
	position: relative;
	top: -20px;
	margin: auto;
	width: 96%;
}



#team-banner, #welcome-text{
	margin: 0 0 5px 0;
}

#updates {
	margin: 0;
}

footer {
	width: 100%;
	text-align: center;
}

#associated-links{
	width: 33%;
	display: inline-block;
	float: left;
}

#tools {
	width: 32%;
	display: inline-block;
}

#more-info {
	width: 33%;
	display: inline-block;
	float: right;
}

#copyright {
	width: 100%;
	margin: 5px 0;
}

.clearFloat {
	clear: both;
}




/*end box-model rules*/ 