/****************************************
		Drop Down Nav
*****************************************/

#top-nav {
	z-index: 1; 
	position:relative;
}

#top-nav ul ul {
	display: none;
}

#top-nav ul li:hover > ul {
	display: block;
}

#top-nav ul {
	background: #434343; 
	padding: 0;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

#top-nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

#top-nav ul li {
	float: left;
}

#top-nav ul li:hover {
	background: #434343;
}

#top-nav ul li:hover a {
	color: #979797;
}

#top-nav ul li a {
	display: block; 
	padding: 10px 15px;
	color: #979797; 
	text-decoration: none;
}

#top-nav ul ul {
	background: #434343; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

#top-nav ul ul li {
	float: none; 
	position: relative;
}

#top-nav ul ul li a {
	padding: 5px 10px;
	color: #979797;
}	

#top-nav ul ul li a:hover {
	background: #434343;
}

/****************************************
		EndDrop Down Nav
*****************************************/

/****************************************
		Side Accordion
*****************************************/

.accordion {
	margin: 50px;
}
.accordion dt, .accordion dd {
	padding: 10px;
	border: 1px solid black;
	border-bottom: 0;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
	border-bottom: 1px solid black;
}
.accordion dt a, .accordion dd a {
	display: block;
	color: black;
	font-weight: bold;
}
.accordion dd {
	border-top: 0;
	font-size: 12px;
}
.accordion dd:last-of-type {
	border-top: 1px solid white;
	position: relative;
	top: -1px;
}

/****************************************
		End Side Accordion
*****************************************/