

#rationale, #sitemap, #wireframe, #project_details, #aboutus {border: 3px solid #b0a187;
background-color: #75ddfa;
margin-top: 10px;}

#sitemap{
background-color: #75ddfa;
background-image: url(sitemap.jpg);
background-repeat: no-repeat;
background-position: top left;
}


#sitemap img {padding-left:10px;
padding-bottom:10px;}

#rationale h2, h3, p {text-align:left;
color: black;
padding: 0 10px 10px 10px;}

#rationale a {font-weight:bold;
color:blue;}

#rationale_page h2{
background-color:#B0a187;
padding-left: 10px;}

#rational_page p {width:80%;
padding-left:15px;
}

#sitemap h2, h3, #sitemap p {text-align:left;
color: red;
padding: 0 10px 10px 10px;}

#wireframe img {padding-left:20px;
padding-bottom:10px;
height: 155px;
width:225px;}

#wireframe a {display:inline;
padding-left:25px;}
#wireframe ul {list-style-type:none;}

#dl_icon {position:relative;
top: 0px;
left:110px;
}

#project_details{clear:both;}

#project_details img {padding-left: 10px;
padding-bottom: 15px;}


#aboutus img {
padding-left: 10px;
padding-bottom: 15px;
height: 155px;
width:225px;}






		