#welcome-text header , #updates header{
	background: #fff;
	font-size: 130%;
	padding: 5px;
	font-weight:bold;
}

#welcome-text p {
	font-weight:bold;
}

#welcome-text footer  {
	text-align: right;
	color: #6A6C6C;
	font-size: 80%;
}

#banner figure img {
	padding: 0px;
	width: 95%;
}

